name: deploy-prod

on:
  workflow_dispatch:

jobs:
  deploy:
    name: Deploy to Production
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20.11.1'

      - name: Set environment variables
        run: |
          touch .env.local
          echo "REACT_APP_ENV=production" >> .env.local

      - name: Remove msw files
        run: |
          find ./public -name "mockServiceWorker.js" -delete || true

      - name: Build & Export
        run: |
          yarn install
          yarn build

      - name: Deploy to S3 and Invalidate Cloudfront (Production)
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: ap-northeast-2
        run: |
          aws s3 sync ./build s3://hyunsoo-waffle2025 --delete
          aws cloudfront create-invalidation --distribution-id E1W0GQSEQCUBF6 --paths "/*"
